@charset "UTF-8";

.grid-2{display:grid; grid-template-columns:1fr 1fr; grid-column-gap:20px; }

/****************오늘의 할일 toDoList style***********************/
.toDoList{
	display: block; border:1px solid #dcdddd; border-radius:10px;
	padding:20px; margin-top:20px;
	}
.toDoList #tabHeader{/* margin-bottom:20px; */}
.toDoList #tabHeader h2{float:left;}
.toDoList #tabHeader .tabBox{
	float:right; 
	display: grid; grid-template-columns:1fr 1fr; grid-template-row:2fr;
	font-size:15px;
	}
.toDoList #tabHeader .tabBox .tab{padding:10px 1rem 5px; text-align:center; border-bottom:1px solid #dcdddd;}
.toDoList #tabHeader .tabBox .tab.active{border-bottom:1px solid #e73177;}
.notice{display: block; border:1px solid blue;}

/*오늘의 할일 tabContent style*/
#tab01{/* border:1px solid yellow;  display:block;*/ }
#tab02{/* border:1px solid green;display:none; */  }

/*오늘의 할일 - 할일 #tab01 style*/
.tabContentStyle{}
.tabContentStyle table{
	display: table; width:100%; table-layout:fixed;
	border-collapse:collapse; height:200px;
	}
.tabContentStyle table thead{border-bottom:1px solid #efefef;}
.tabContentStyle table thead th{font-size:12px; color:#595757; /* font-weight: bold; */  padding:10px 0;}
.tabContentStyle th:nth-child(2){width:60%;}

.tabContentStyle table tbody{text-align:center; font-size:12px; color:#595757; /* font-weight: bold; */}
.tabContentStyle table tbody tr{border-bottom:1px solid #efefef;}
.tabContentStyle table tbody td{
	padding:10px 0; 
	white-space: nowrap; overflow: hidden; text-overflow:ellipsis;
	}
.tabContentStyle table tbody td:nth-child(2){text-align:left;}

/***************************새 게시글 notice style***************************/
.notice{
	display: block; border:1px solid #dcdddd; border-radius:10px;
	padding:20px; margin-top:20px;
	}
.notice table{
	display:table; width:100%; table-layout:fixed;
	text-align:center; border-collapse: collapse;
	}
.notice table tr{border-bottom:1px solid #efefef;}
.notice table td{
	padding:10px 0; font-size:12px; 
	white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
	}
.notice table td:nth-child(1){width:10%;}
.notice table td:nth-child(2){width:60%; text-align:left;}



/********************주요일정 scheduleList style******************************/
.scheduleList{
	display: inherit; margin-top:20px; padding:20px;
	border:1px solid #dcdddd; border-radius: 10px;
	}
.scheduleList #groupBox{
	margin-bottom:20px;
}
.scheduleList #groupBox #groupName ul{
	border:1px solid #efefef; margin-bottom:10px;
	display: grid; grid-template-columns:0.3fr 1fr 0.3fr 1fr;
	}
.scheduleList #groupBox #groupName ul li{
	font-size:13px; border-right:1px solid #efefef;
	padding:0.5rem 0 0.5rem 1rem;
	}
.scheduleList #groupBox #groupName ul li:last-child{border-right:0;}
	
.scheduleList #groupBox #groupName ul li:nth-child(1)
,.scheduleList #groupBox #groupName ul li:nth-child(3){background-color:#0a2742; color:#fff; text-align:center; padding:0.5rem 0;}

.scheduleList table{
	box-sizing: border-box; border-collapse:collapse; border-spacing: 0px; text-align:center;
	width:100%;
	}
.scheduleList table tr td{padding:0.5rem 0; border-top:1px solid #efefef;}

.scheduleList table{border-left:1px solid #efefef; border-bottom:1px solid #efefef;}
.scheduleList table tr td{font-size:12px; border-right:1px solid #efefef;}
.scheduleList table tr td:nth-child(1){width:40%; text-align:left; padding-left:2rem;}
.scheduleList table tr:first-child td:nth-child(1){width:40%; text-align:center; padding:0;}
.scheduleList table tr td:nth-child(2){width:50%;}
.scheduleList table tr:nth-child(1) td{background-color:#0a2742; color:#fff;}
















