@charset "UTF-8";

.grid-2{display:grid; grid-template-columns:1fr 1fr; grid-column-gap:20px; }

/****************오늘의 할일 toDoList style***********************/
.toDoList{
	display: block; border:1px solid #dcdddd; border-radius:10px;
	padding:20px; margin-top:20px;
	}
.toDoList #tabHeader{/* margin-bottom:20px; */}
.toDoList #tabHeader h2{float:left;}
.toDoList #tabHeader .tabBox{
	float:right; 
	display: grid; grid-template-columns:1fr 1fr; grid-template-row:2fr;
	font-size:15px;
	}
.toDoList #tabHeader .tabBox .tab{padding:10px 1rem 5px; text-align:center; border-bottom:1px solid #dcdddd;}
.toDoList #tabHeader .tabBox .tab.active{border-bottom:1px solid #e73177;}
.notice{display: block; border:1px solid blue;}

/*오늘의 할일 tabContent style*/
#tab01{/* border:1px solid yellow;  display:block;*/ }
#tab02{/* border:1px solid green;display:none; */  }

/*오늘의 할일 - 할일 #tab01 style*/


/***************************새 게시글 notice style***************************/
.notice{
	display: block; border:1px solid #dcdddd; border-radius:10px;
	padding:20px; margin-top:20px;
	}
.notice table{
	display:grid; width:100%;
	text-align:center; border-collapse: collapse;
	}



/********************주요일정 scheduleList style******************************/
.scheduleList{
	display: inherit; margin-top:20px; padding:20px;
	border:1px solid #dcdddd; border-radius: 10px;
	}
.scheduleList #groupBox{
	margin-bottom:20px;
}
.scheduleList #groupBox #groupName ul{
	border:1px solid #efefef; margin-bottom:10px;
	display: grid; grid-template-columns:0.3fr 1fr 0.3fr 1fr;
	}
.scheduleList #groupBox #groupName ul li{
	font-size:13px; border-right:1px solid #efefef;
	padding:0.5rem 0 0.5rem 1rem;
	}
.scheduleList #groupBox #groupName ul li:last-child{border-right:0;}
	
.scheduleList #groupBox #groupName ul li:nth-child(1)
,.scheduleList #groupBox #groupName ul li:nth-child(3){background-color:#0a2742; color:#fff; text-align:center; padding:0.5rem 0;}


/**/
.table2 tr{grid-template-columns:1fr 2fr 1fr 2fr !important;}
#myState .table2 tr:nth-child(2){grid-template-columns: 1fr 5fr !important;}

.table4 tr{grid-template-columns:1fr 3fr 1fr .5fr !important;}
.table3.newNotice tr{grid-template-columns:.5fr 4fr 1fr !important; }
.table3.newNotice tbody{border:0;}
.table3.newNotice tr td{ border:0; border-bottom:1px solid #efefef !important;}
.table3.newNotice tr td:nth-child(2),
.table4 tr td:nth-child(2){
	text-align:left; padding:0.5rem 1rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
	}
.table3.schedule tr{grid-template-columns:4fr 4fr 1fr !important;}
.table3.schedule tr td:nth-child(1){text-align:left; padding-left:2rem;}











